<!-- <form action="/shop/cart/?addData=add" method ="POST">
    <input type="hidden" name ="id" value="<%= product.id %>">
    <input type="hidden" name ="price" value="<%= product.price/qty %>">
    <button type="submit"><%= btnTitle %></button>
</form></div> -->

<button onClick ='location.href="/shop/edit-cart/?addData=add&id=<%= product.id %>";'><%= btnTitle %></button></div>