<!-- <form action="/shop/cart/?addData=remove" method ="POST">
    <input type="hidden" name ="qty" value="<%= product.qty %>">
    <input type="hidden" name ="id" value="<%= product.id %>">
    <input type="hidden" name ="price" value="<%= product.price %>">
    <button type="submit"><%= btnTitle %></button>
</form></div> -->
<button onClick ='location.href="/shop/edit-cart/?addData=remove&id=<%= product.id %>";'><%= btnTitle %></button></div>