<%- include('./includes/head.ejs') %>
<link rel="stylesheet", href="static/css/navbar_style.css">
<link rel="stylesheet", href="static/css/shop_style.css">
</head>
<body>
    <%- include('./includes/navbar.ejs') %>
    <% if( products.length > 0 ) %>
        <div class="row">
            <% products.forEach(x => { %>
                <div class="col">
                    <p class="name"><%= x.name %></p>
                    <div class="image">
                        <img src="<%= x.imageUrl %>" />
                    </div>
                    <div class="price">Rs. <b><%= x.price %></b>/-</div><br>
                    <div class="cart">
                        <form action="/admin/delete_product" method ="POST">
                            <input type="hidden" name ="id" value="<%= x._id %>">
                            <button>Delete</button>
                        </form>
                        <div class="cart"><button onClick ='location.href="/admin/<%= x.id %>";' class="cart">Edit</button></div>
                    </div>
                </div>
            <% }); %>
        </div>
</body>